.sidebar {
	display: grid;

	width: calc(100% - 40px);
	height: auto;
	padding: 20px;

	border-radius: 15px;
	background: var(--white);
	gap: 15px;
	grid-template-rows: auto auto auto 1fr;
}

.sidebarDiv {
	display: grid;
	gap: 10px;
	grid-template-rows: auto 1fr;
}

.classTitle,
.categoryTitle {
	cursor: pointer;
	user-select: none;
	transition-duration: 500ms;
}

.classTitle {
	height: fit-content;

	color: var(--second);

	font-weight: 500;
}

.classTitle:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary) !important;
}

.categoriesDiv {
	display: grid;

	height: fit-content;
	margin-top: 5px;
	padding-left: 10px;
	gap: 10px;
}

.categoryTitle {
	color: var(--darkLight);
}

.categoryTitle:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--second);
}

@media (min-width: 1024px) {
	.classTitle:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary) !important;
	}

	.categoryTitle:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--second);
	}
}
