.sidebar {
	display: grid;

	width: calc(100% - 40px);
	height: auto;
	padding: 20px;

	border-radius: 5px;
	background: var(--white);
	gap: 15px;
	grid-template-rows: auto auto auto 1fr;
}

.sidebarDiv {
	display: grid;
	gap: 10px;
	grid-template-rows: auto 1fr;
}

.classTitle,
.categoryTitle {
	display: grid;
	align-items: center;

	width: 100%;

	cursor: pointer;
	user-select: none;
	transition-duration: 500ms;
	grid-template-columns: 1fr auto;
}

.classTitle {
	height: fit-content;

	color: var(--primary);

	font-weight: 500;
}

.classTitle > span > svg {
	width: 5px;
	fill: var(--primary);

	transform-origin: center;
}

.active > span > svg {
	fill: var(--second);
}

.categoriesDiv {
	display: grid;

	height: fit-content;
	margin-top: 5px;
	padding-left: 10px;
	gap: 10px;
}

.categoryTitle {
	color: var(--darkLight);
}

.classTitle:active,
.categoryTitle:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--second);
}

.active {
	color: var(--second) !important;
}

@media (min-width: 1024px) {
	.classTitle:hover,
	.categoryTitle:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--second) !important;
	}
}
