.headerCatalog {
	position: fixed;
	z-index: 12;

	display: grid;
	align-items: center;

	width: calc(100% - 140px);
	height: 70px;
	padding: 0 70px;

	background-color: var(--white);
	filter: drop-shadow(0 5px 7px rgba(0, 0, 0, 0.1));
}

@media (max-width: 1024px) {
	.headerCatalog {
		width: calc(100% - 100px);
		padding: 0 50px;
	}
}

@media (max-width: 580px) {
	.headerCatalog {
		width: calc(100% - 40px);
		padding: 0 20px;
	}
}
