.catalogList {
	position: relative;

	display: grid;
	align-items: center;

	width: 100%;
	margin: 40px 0;
	gap: 20px;
	justify-items: center;
}

.productsFound {
	margin-bottom: 20px;

	color: var(--darkLight);

	font-weight: 600;
	justify-self: left;
}

@media (max-width: 580px) {
	.catalogList {
		width: calc(100% - 40px);
		margin: 20px 0;
		gap: 10px;
		padding: 0 20px;
	}

	.productsFound {
		margin-bottom: 10px;
	}
}
