.footer {
	display: grid;
	align-items: start;
	align-self: end;

	width: calc(100% - 160px);
	height: fit-content;
	padding: 40px 80px;

	background: var(--white);
	gap: 40px;
	grid-template-columns: auto auto auto 1fr;
}

.footer > h1,
.footerLink > h1 {
	color: var(--darkLight) !important;

	font-weight: 500 !important;
}

.footerDiv {
	display: grid;
	gap: 5px;
}

.footerLink {
	cursor: pointer;
}

.footerLink > h1 {
	transition-duration: 500ms;
	word-break: break-word;
	hyphens: auto;
}

.footerLink:active > h1 {
	color: var(--second);
}

.bananaLink {
	justify-self: end;
}

@media (min-width: 1024px) {
	.footerLink:hover > h1 {
		color: var(--second);
	}
}

@media (max-width: 1024px) {
	.footer {
		gap: 30px;

		width: calc(100% - 120px);
		padding: 30px 60px;
	}
}

@media (max-width: 800px) {
	.footer {
		gap: 20px;

		width: calc(100% - 80px);
		padding: 20px 40px;
		grid-template-columns: auto;
	}

	.bananaLink {
		margin-top: 20px;
		justify-self: start;
	}
}

@media (max-width: 580px) {
	.footer {
		width: calc(100% - 40px);
		padding: 20px;
	}
}
