.filtersBar {
	display: grid;
	align-items: center;

	width: calc(100% - 40px);
	height: fit-content;
	padding: 15px 20px;

	border-radius: 5px;
	background: var(--white);
	gap: 20px;
	grid-template-columns: auto auto auto 1fr;
}

.commonFiltersBar {
	grid-template-columns: auto auto 1fr;
}

.filterText {
	user-select: none;

	color: var(--darkLight);
}

.filterText > span {
	cursor: pointer;
	transition-duration: 500ms;

	color: var(--second);

	font-weight: 500;
}

.filterText > span:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.filtersName {
	width: calc(100% - 20px);
	padding: 5px 10px;

	transition-duration: 500ms;

	color: var(--second);
	border: none;
	border-radius: 5px;
	outline: none;
	background: var(--light);

	font-size: 16px;
}

.filtersName::placeholder {
	color: var(--darkLight);
}

.filtersName:active,
.filtersName:focus {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.dropdownContainer {
	position: relative;

	display: grid;

	width: fit-content;
}

.dropdown {
	position: absolute;
	z-index: 10;
	top: calc(100% + 10px);
	left: 50%;

	display: grid;

	width: 100%;
	height: fit-content;
	padding: 10px;

	transform: translateX(-50%);

	border-radius: 5px;
	background: var(--white);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	gap: 10px;
}

.dropdownItem {
	cursor: pointer;
	transition-duration: 500ms;

	color: var(--darkLight);

	font-weight: 500;
}

.dropdownItem:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--second);
}

.checkboxLabel {
	display: grid;
	align-items: center;

	width: fit-content;
	grid-template-columns: auto 1fr;
}

.checkboxLabel input {
	position: relative;

	width: 15px;
	height: 15px;
	margin-right: 5px;

	cursor: pointer;
	transition-duration: 500ms;

	border: 2px solid var(--second);
	border-radius: 5px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkboxLabel input:checked {
	background-color: var(--second);
}

.checkboxLabel input:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.checkboxLabel > h1 {
	cursor: pointer;
}

.displayDiv {
	display: grid;
	align-items: center;

	width: 100%;
	justify-items: right;
	gap: 20px;
	grid-template-columns: 1fr auto auto;
}

.displayIcon {
	width: 20px;
	fill: var(--darkLight);

	cursor: pointer;
	transition-duration: 500ms;

	opacity: 0.5;
}

.displayIcon:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--second);
}

.activeIcon {
	fill: var(--second);

	opacity: 1;
}

@media (min-width: 1024px) {
	.filtersName:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}

	.filterText > span:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}

	.dropdownItem:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--second);
	}

	.checkboxLabel input:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}

	.displayIcon:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		fill: var(--second);
	}
}

@media (max-width: 1024px) {
	.filtersName {
		font-size: 14px;
	}
}

@media (max-width: 580px) {
	.filtersName {
		font-size: 12px;
	}
}

@media (max-width: 300px) {
	.filtersName {
		font-size: 10px;
	}
}
