.header {
	position: fixed;
	z-index: 12;

	display: grid;
	align-items: center;

	width: calc(100% - 140px);
	height: 70px;
	padding: 0 70px;

	background-color: var(--white);
	filter: drop-shadow(0 5px 7px rgba(0, 0, 0, 0.1));
}
