.productInfo {
	display: grid;
	justify-items: center;

	width: calc(100% - 160px);
	margin-top: 80px;
	padding: 40px 80px;
	gap: 40px;
}

.productInfo > div {
	display: grid;
	gap: 40px;

	width: calc(100% - 30px);
	height: fit-content;
	padding: 15px 15px 40px 15px;

	border-radius: 5px;
	background: var(--white);
}

.mainInfoDiv {
	display: grid;

	width: 100%;
	grid-template-columns: 1fr 3fr;
	gap: 20px;
}

.mainInfoDiv > div {
	display: grid;

	width: 100%;
	height: 100%;
	grid-template-rows: 1fr auto;
}

.productNameDiv {
	display: grid;

	height: fit-content;

	gap: 5px;
}

.productName {
	display: grid;

	width: 100% !important;

	color: var(--primary) !important;
	grid-template-columns: 1fr auto;
}

.productPrice,
.productName > span {
	color: var(--second);
}

.productPrice {
	display: none;
}

.productCategory {
	color: var(--second) !important;

	font-weight: 500 !important;
}

.productDescription {
	color: var(--darkLight) !important;
}

@media (max-width: 1400px) {
	.productInfo {
		width: calc(100% - 120px);
		padding: 40px 60px;
	}

	.mainInfoDiv {
		grid-template-columns: 1fr 2fr;
	}
}

@media (max-width: 1024px) {
	.productInfo {
		width: calc(100% - 80px);
		margin-top: 70px;
		padding: 30px 40px;
		gap: 30px;
	}

	.productInfo > div {
		gap: 30px;

		padding-bottom: 30px;
	}
}

@media (max-width: 800px) {
	.productInfo {
		width: calc(100% - 60px);
		padding: 20px 30px;
	}

	.mainInfoDiv {
		grid-template-columns: repeat(2, 1fr);
	}

	.productName > span {
		display: none;
	}

	.productPrice {
		display: grid;

		margin-bottom: 10px;
	}
}

@media (max-width: 580px) {
	.productInfo {
		width: calc(100% - 20px);
		padding: 10px;
		gap: 20px;
	}

	.productInfo > div {
		gap: 20px;

		padding-bottom: 20px;
	}

	.mainInfoDiv {
		grid-template-columns: 1fr;
	}

	.mainInfoDiv > div {
		gap: 20px;
	}

	.productPrice {
		margin: 20px 0 0 0;
	}
}
