.productItem {
	display: grid;

	width: calc(100% - 30px);
	padding: 15px;

	border-radius: 15px;
	outline: 1px solid var(--light);
	background: var(--white);
	gap: 20px;
	justify-items: left;
	grid-template-rows: auto 1fr;
}

.productPhoto {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: fit-content;

	cursor: pointer;
	transition-duration: 500ms;

	border-radius: 5px;
	background: var(--lighter);
	justify-items: center;
	object-fit: cover;
}

.productNameDiv {
	display: grid;

	cursor: pointer;
	transition-duration: 500ms;
	gap: 5px;
}

.productName {
	color: var(--primary);

	font-weight: 600;
}

.productCategory {
	color: var(--second);

	font-weight: 500;
}

.productDescription {
	display: -webkit-box;
	overflow: hidden;

	text-overflow: ellipsis;

	color: var(--darkLight);
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.productPrice {
	color: var(--second);

	font-weight: 600;
}

.buttonsDiv {
	display: grid;

	width: 100%;
	margin-top: -10px;

	cursor: default;
	grid-template-columns: 1fr auto;
	gap: 10px;
}

.buyButton {
	display: grid;
	align-items: center;

	width: 100%;
	height: 100%;

	cursor: pointer;
	transition-duration: 500ms;

	border: none;

	border-radius: 5px;
	outline: none;
	background: var(--second);
	justify-items: center;
}

.buyButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	filter: brightness(0.9);
}

.productBuy {
	color: var(--white);

	font-weight: 600;
}

.favoriteButton {
	position: relative;

	display: grid;
	overflow: hidden;
	align-items: center;

	width: 40px;
	height: 40px;

	cursor: pointer;

	border-radius: 5px;
	justify-items: center;
}

.favoriteButton > div {
	width: 100%;
	height: 100%;

	transition-duration: 500ms;

	opacity: 0.15;
	background: var(--heart);
}

.favoriteButton > svg {
	position: absolute;

	width: 20px;
	fill: var(--heart);

	transition-duration: 500ms;
}

.favoriteButton:active > div {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	opacity: 1;
}

.favoriteButton:active > svg {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	fill: var(--white);
}

@media (min-width: 1024px) {
	.buyButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		filter: brightness(0.9);
	}

	.favoriteButton:hover > div {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		opacity: 1 !important;
	}

	.favoriteButton:hover > svg {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		fill: var(--white) !important;
	}
}

@media (max-width: 1024px) {
	.productItem {
		gap: 15px;
	}

	.buttonsDiv {
		margin-top: -5px;
	}
}

@media (max-width: 580px) {
	.pricePlate {
		height: 35px;
	}

	.buttonsDiv {
		gap: 5px;
	}

	.buttonPlate {
		width: 35px;
		height: 35px;
	}

	.favoriteButton > svg {
		width: 17px;
	}

	.cartButton > svg {
		height: 17px;
	}
}
