.productItem {
	display: grid;

	width: calc(100% - 30px);
	padding: 15px;

	border-radius: 15px;
	outline: 1px solid var(--light);
	background: var(--white);
	gap: 20px;
	justify-items: left;
	grid-template-rows: auto 1fr;
}

.displayLines {
	grid-template-columns: 1fr auto auto;
	grid-template-rows: auto;

	align-items: center;
}

.productPhoto {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: fit-content;

	cursor: pointer;
	transition-duration: 500ms;

	border-radius: 5px;
	background: var(--lighter);
	justify-items: center;
	object-fit: cover;
}

.productNameDiv {
	display: grid;

	transition-duration: 500ms;
	gap: 5px;
}

.productName {
	color: var(--primary);

	font-weight: 600;
}

.productCategory {
	color: var(--second);

	font-weight: 500;
}

.productDescription {
	display: -webkit-box;
	overflow: hidden;

	text-overflow: ellipsis;

	color: var(--darkLight);
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

@media (max-width: 1024px) {
	.productItem {
		gap: 15px;
	}
}
