.sidebar {
	position: sticky;
	z-index: 23;
	top: 100px;

	display: grid;
	overflow: auto;

	width: calc(100% - 40px);
	height: max-content;
	height: calc((100vh - 160px));

	padding: 20px;

	border-radius: 5px;
	background: var(--white);
	gap: 15px;
	grid-template-rows: auto auto auto 1fr;
}

.sidebar::-webkit-scrollbar {
	width: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: var(--second);
}

@media (max-width: 1400px) {
	.sidebar {
		top: 110px;

		height: calc((100vh - 175px));
	}
}

@media (max-width: 1024px) {
	.sidebar {
		gap: 15px;

		top: 90px;

		height: calc((100vh - 150px));
	}
}

@media (max-width: 800px) {
	.sidebar {
		display: none;
	}
}
