.contactsBlock {
	display: grid;
	align-items: center;

	width: calc(100% - 160px);
	height: fit-content;
	margin-top: 80px;

	justify-items: left;
	padding: 40px 80px;
	gap: 20px;
}

.contactsBlock > h1 {
	color: var(--darkLight);

	font-weight: 500;
}

.contactsBlock > h1 > span {
	color: var(--primary);

	font-weight: 600;
}

@media (max-width: 1400px) {
	.contactsBlock {
		width: calc(100% - 120px);
		padding: 40px 60px;
	}
}

@media (max-width: 1024px) {
	.contactsBlock {
		width: calc(100% - 80px);
		margin-top: 70px;
		padding: 30px 40px;
		gap: 15px;
	}
}

@media (max-width: 800px) {
	.contactsBlock {
		width: calc(100% - 60px);
		padding: 20px 30px;
	}
}

@media (max-width: 580px) {
	.contactsBlock {
		width: calc(100% - 20px);
		padding: 10px;
		gap: 10px;
	}
}
