.catalogItem {
	display: grid;
	overflow: hidden;

	justify-items: center;
	gap: 20px;

	width: 100%;
	grid-template-columns: 20% 80%;
}

.photoDiv {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: fit-content;

	transition-duration: 500ms;

	border-radius: 10px;
	justify-items: center;
}

.photoDiv:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.catalogItemPhoto {
	width: 100%;
	height: 100%;

	background: var(--darkLight);
}

.catalogItemInfoDiv {
	display: grid;

	width: 100%;

	height: fit-content;
	justify-items: left !important;
	gap: 7px;
}

.name {
	transition-duration: 500ms;

	color: var(--primary);

	font-weight: 600;
}

.name:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--second);
}

.type {
	color: var(--second);

	font-weight: 500;
}

.description {
	display: -webkit-box;
	overflow: hidden;

	max-width: 70%;
	margin: 10px 0;

	text-overflow: ellipsis;

	color: var(--darkLight);

	font-weight: 500;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.priceDiv {
	display: grid;
	grid-template-columns: auto 1fr;

	align-items: center;
	gap: 20px;

	margin-top: 10px;
}

.price {
	color: var(--second);

	font-weight: 600;
}

@media (min-width: 1024px) {
	.photoDiv:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}

	.name:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--second);
	}
}

@media (max-width: 580px) {
	.catalogItem {
		gap: 10px;
	}
}
