.mainHeader {
	display: grid;

	width: var(100% - 140px);
	padding: 7px 70px;

	background: var(--second);
	grid-template-columns: 1fr auto;
}

.mainHeaderLink {
	width: fit-content;

	cursor: pointer;
}

.mainHeaderLink > h1 {
	transition-duration: 500ms;

	color: var(--white);
}

.mainHeaderLink:active > h1 {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

@media (min-width: 1024px) {
	.mainHeaderLink:hover > h1 {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.9);
	}
}

@media (max-width: 1024px) {
	.mainHeader {
		width: var(100% - 100px);
		padding: 7px 50px;
	}
}

@media (max-width: 580px) {
	.mainHeader {
		width: var(100% - 40px);
		padding: 7px 20px;
	}
}
