.productBuyBlock {
	display: grid;

	width: 30%;
	grid-template-columns: 1fr auto;
	gap: 10px;
	grid-template-areas: "buyButton cartController favoriteButton";
}

.cartBlock {
	width: 40%;
	grid-template-columns: 1fr auto auto;
}

.buyButton {
	grid-area: buyButton;
}

.favoriteButton {
	grid-area: favoriteButton;
}

@media (max-width: 1400px) {
	.productBuyBlock {
		width: 40%;
	}

	.cartBlock {
		width: 60%;
	}
}

@media (max-width: 1024px) {
	.productBuyBlock {
		width: 50%;
	}

	.cartBlock {
		width: 80%;
	}
}

@media (max-width: 800px) {
	.productBuyBlock {
		width: 100%;
	}

	.cartBlock {
		grid-template-columns: 1fr auto;
		grid-template-areas:
			"buyButton favoriteButton"
			"cartController cartController";
	}
}
