.wrapper {
	display: grid;

	width: 100%;
	min-height: 100vh;
	grid-template-rows: 1fr auto;
	justify-items: center;
}

.profileDiv {
	display: grid;
	align-items: start;

	width: calc(100% - 80px);
	height: fit-content;
	margin: 100px 0 20px 0;
	padding: 20px 40px;
	gap: 20px;
	grid-template-columns: 1fr 35%;
}

@media (max-width: 1400px) {
	.profileDiv {
		width: calc(100% - 60px);
		padding: 30px;
		grid-template-columns: auto;
		gap: 60px;
	}
}

@media (max-width: 1024px) {
	.profileDiv {
		width: calc(100% - 40px);
		padding: 20px;
	}
}

@media (max-width: 580px) {
	.profileDiv {
		width: calc(100% - 30px);
		margin-bottom: 10px;
		padding: 20px 15px;
		gap: 40px;
	}
}

@media (max-width: 300px) {
	.profileDiv {
		width: calc(100% - 20px);
		margin-top: 65px;
		padding: 15px 10px;
		gap: 20px;
	}
}
