.headerMobLink {
	display: grid;
	align-items: center;

	width: 100%;

	cursor: pointer;
	transition-duration: 500ms;
	grid-template-columns: 1fr auto;
}

.headerMobLink:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.9);
}

.firstLink {
	margin-top: 60px;
}

.linkText {
	color: var(--darkLight) !important;

	font-weight: 500 !important;
}

.headerMobLink > svg {
	fill: var(--darkLight);

	width: 30px;
}

.searchLink {
	display: none;
}

@media (max-width: 300px) {
	.headerMobLink > svg {
		width: 20px;
	}

	.firstLink {
		margin-top: 40px;
	}
}

@media (max-width: 200px) {
	.headerMobLink > svg {
		display: none;
	}

	.searchLink {
		display: grid;
	}
}
