.productList {
	display: grid;

	width: 100%;
	gap: 20px;
	grid-template-columns: auto;
}

.displayMain {
	width: calc(100% - 160px);
	margin: 40px 0;
	padding: 0 80px;
	grid-template-columns: repeat(4, 1fr);
}

.displayGrid {
	grid-template-columns: repeat(3, 1fr);
}

.spinnerDiv {
	display: grid;

	width: 100%;
	margin: 80px 0 120px 0;
	justify-items: center;
}

@media (max-width: 1400px) {
	.displayMain {
		grid-template-columns: repeat(3, 1fr);
	}

	.displayGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 1024px) {
	.productList {
		gap: 15px;
	}

	.displayMain {
		width: calc(100% - 120px);
		margin: 30px 0;
		padding: 0 60px;
	}

	.displayGrid {
		grid-template-columns: 1fr;
	}

	.spinnerDiv {
		margin: 60px 0 90px 0;
	}
}

@media (max-width: 800px) {
	.displayMain,
	.displayGrid {
		grid-template-columns: repeat(2, 1fr);
	}

	.displayMain {
		width: calc(100% - 80px);
		padding: 0 40px;
	}
}

@media (max-width: 580px) {
	.productList {
		gap: 10px;
	}

	.displayMain,
	.displayGrid {
		grid-template-columns: 1fr;
	}

	.displayMain {
		width: calc(100% - 40px);
		margin: 20px 0;
		padding: 0 20px;
	}

	.spinnerDiv {
		margin: 40px 0 60px 0;
	}
}
