.commonProductInfo {
	display: grid;

	width: calc(100% - 140px) !important;
	width: 100%;
	height: auto;
	margin: 140px 70px 40px 70px !important;
	gap: 40px;
	justify-items: left;
	grid-template-columns: 20% 1fr;
}

.infoDiv {
	display: grid;

	width: 100%;

	height: fit-content;
	gap: 20px;
}

.commonProductName {
	color: var(--primary) !important;

	font-weight: 600 !important;
}

.commonProductDescription {
	width: 100%;

	color: var(--darkLight);
}

@media (max-width: 1400px) {
	.commonProductInfo > div {
		grid-template-columns: 25% 1fr;
	}
}

@media (max-width: 1024px) {
	.commonProductInfo {
		gap: 30px;
		grid-template-columns: 30% 1fr;

		width: calc(100% - 100px) !important;
		margin: 140px 50px 40px 50px !important;
	}

	.infoDiv {
		gap: 15px;
	}
}

@media (max-width: 580px) {
	.commonProductInfo {
		gap: 20px;
		grid-template-columns: auto;

		width: calc(100% - 40px) !important;
		margin: 140px 20px 40px 20px !important;
	}

	.infoDiv {
		gap: 20px;
	}
}
