.attachFileContainer {
	display: grid;
	align-items: center;
	justify-content: center;
}

.attachFile {
	display: none;
}

.customAttachFile {
	display: grid;
	align-items: center;
	justify-content: center;

	height: fit-content;
	padding: 10px 15px;

	cursor: pointer;
	transition-duration: 500ms;

	border-radius: 5px;
	background: var(--lightSecond);
}

.customAttachFile > h1 {
	color: var(--second);

	font-weight: 600;
}

.customAttachFile:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.95);
}

@media (min-width: 1024px) {
	.customAttachFile:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.95);
	}
}

@media (max-width: 1024px) {
	.customAttachFile {
		padding: 7px 15px;
	}
}

@media (max-width: 580px) {
	.customAttachFile {
		padding: 5px 15px;
	}
}
