.relatedProducts {
	display: grid;

	width: calc(100% - 140px);
	height: auto;
	margin: 0 70px 40px 70px !important;
	gap: 20px;
	justify-items: left;
}

.relatedTitle {
	color: var(--second);

	font-weight: 600;
}

.relatedProductsList {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	width: 100%;
}

.relatedProductsItem {
	display: flex;
	display: grid;
	flex-direction: column;

	width: fit-content;

	cursor: pointer;
	gap: 10px;
}

.relatedItemName {
	transition-duration: 500ms;

	color: var(--darkLight);
}

.relatedItemName:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--second);
}

@media (min-width: 1024px) {
	.relatedItemName:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--second);
	}
}

@media (max-width: 1024px) {
	.relatedProducts {
		width: calc(100% - 100px);
		margin: 0 50px 40px 50px !important;
	}
}

@media (max-width: 580px) {
	.relatedProducts {
		width: calc(100% - 40px);
		margin: 0 20px 40px 20px !important;
	}

	.relatedProducts,
	.relatedProductsList {
		gap: 10px;
	}
}
