.orderBlock {
	display: grid;

	width: calc(100% - 40px);
	height: fit-content;
	padding: 20px;

	border-radius: 5px;
	background: var(--light);
	gap: 5px;
}

.totalText {
	color: var(--darkLight);
}

.orderText {
	display: grid;

	width: 100%;
	margin-bottom: 20px;

	color: var(--primary);

	font-weight: 600;
	grid-template-columns: 1fr auto;
}

@media (max-width: 1024px) {
	.orderBlock {
		width: calc(100% - 30px);
		padding: 15px;
		gap: 15px;
	}
}

@media (max-width: 580px) {
	.orderBlock {
		width: calc(100% - 20px);
		padding: 10px;
		gap: 10px;
	}
}

@media (max-width: 450px) {
	.orderText {
		margin-bottom: 10px;
	}
}
