.xxxl,
.xxl,
.xl,
.l,
.m,
.s {
	width: fit-content;
	margin: 0;

	color: var(--dark);

	font-weight: 400;
	font-style: normal;
	line-height: auto;
}

.xxxl {
	font-size: 80px;
}

.xxl {
	font-size: 64px;
}

.xl {
	font-size: 48px;
	font-weight: 700;
}

.l {
	font-size: 24px;
}

.m {
	font-size: 20px;
}

.s {
	font-size: 16px;
}

@media (max-width: 1024px) {
	.xxxl {
		font-size: 60px;
	}

	.xxl {
		font-size: 40px;
	}

	.xl {
		font-size: 36px;
	}

	.l {
		font-size: 22px;
	}

	.m {
		font-size: 18px;
	}

	.s {
		font-size: 14px;
	}
}

@media (max-width: 580px) {
	.xxxl {
		font-size: 50px;
	}

	.xxl {
		font-size: 40px;
	}

	.xl {
		font-size: 32px;
	}

	.l {
		font-size: 20px;
	}

	.m {
		font-size: 16px;
	}

	.s {
		font-size: 12px;
	}
}

@media (max-width: 300px) {
	.xxxl {
		font-size: 40px;
	}

	.xxl {
		font-size: 32px;
	}

	.xl {
		font-size: 26px;
		font-weight: 700;
	}

	.l {
		font-size: 18px;
	}

	.m {
		font-size: 14px;
	}

	.s {
		font-size: 10px;
	}
}
