.productImage {
	display: grid;
	overflow: hidden;
	align-items: center;

	width: 100%;
	height: auto;

	user-select: none;

	border-radius: 5px;
	justify-items: center;
}

.productImage:active {
	cursor: grabbing;
}

.image {
	width: 100%;
	height: 100%;

	border-radius: 5px;
	object-fit: cover;
}
