.profileInfo {
	display: grid;

	width: 100%;

	gap: 40px;

	justify-items: left;
}

.loginToViewText {
	color: var(--darkLight);

	font-weight: 600;
}

.nameDiv {
	display: grid;

	width: 100%;
	gap: 5px;
}

.name {
	display: grid;
	align-items: center;

	width: 100%;

	color: var(--primary);

	font-weight: 600;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.role {
	opacity: 0.5;
	color: var(--primary);

	font-weight: 500;
}

.profileInfoDiv {
	display: grid;

	padding: 20px 0;

	border-top: 1px solid var(--darkLight);
	border-bottom: 1px solid var(--darkLight);
	grid-template-columns: repeat(3, auto);
	gap: 40px;
}

.profileInfoDiv > div {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 10px;

	align-items: center;
}

.profileInfoDiv > div > svg {
	width: 20px !important;
	fill: var(--second) !important;
}

.profileInfoDiv > div > h1 {
	color: var(--darkLight);
}

@media (max-width: 1024px) {
	.name {
		gap: 15px;
	}
}

@media (max-width: 580px) {
	.profileInfo {
		gap: 20px;
	}

	.profileInfoDiv {
		padding: 15px 0;
	}
}

@media (max-width: 300px) {
	.name {
		gap: 10px;
	}
}
