.productPriceBlock {
	display: grid;
	align-items: center;

	width: 100%;

	cursor: default;
	gap: 10px;
	grid-template-columns: 1fr auto auto;
}

.productPrice {
	transition-duration: 300ms;

	color: var(--second);

	font-weight: 600;
}

.productMobButton {
	position: relative;

	display: none;

	overflow: hidden;
	align-items: center;

	width: 40px;
	height: 40px;
	padding: 0;

	cursor: pointer;

	border: none;

	border-radius: 5px;
	outline: none;
	background: none;
	justify-items: center;
}

@media (min-width: 1024px) {
	.hoveredPrice {
		color: var(--light);
	}
}

@media (max-width: 580px) {
	.productPriceBlock {
		margin-top: 20px;
		grid-template-columns: auto;
	}

	.productPriceLines {
		grid-template-columns: 1fr auto;
	}

	.productButton {
		display: none;
	}

	.productMobButton {
		display: grid;

		width: 100%;
		height: 40px;
		padding: 0 10px;

		transition-duration: 500ms;
		grid-template-columns: auto 1fr;
	}

	.productMobButton > svg {
		width: 24px;
		fill: var(--second);

		transition-duration: 500ms;
	}

	.buyText {
		transition-duration: 500ms;
		word-break: break-word;
		hyphens: auto;

		color: var(--second);

		font-weight: 500 !important;
	}

	.productMobButton > div {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		transition-duration: 500ms;

		opacity: 0.15;
		border-radius: 5px;
		background: var(--second);
	}

	.cartMobButton > svg {
		fill: var(--white);
	}

	.cartMobButton > div {
		opacity: 0;
	}

	.cartMobButton .buyText {
		color: var(--white);
	}

	.productMobButton:active {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--second);
	}

	.productMobButton:active .buyText {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--white);
	}

	.productMobButton:active > svg {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		fill: var(--white);
	}

	.productMobButton:active > div {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		opacity: 0;
	}

	.cartMobButton {
		background: var(--second);
	}
}

@media (max-width: 300px) {
	.productMobButton {
		height: 28px;
	}

	.productMobButton > svg {
		width: 18px;
	}
}

@media (max-width: 250px) {
	.productMobButton {
		grid-template-columns: auto;
	}

	.productMobButton > svg {
		display: none;
	}
}

@media (max-width: 150px) {
	.productPriceLines {
		grid-template-columns: auto;
	}
}
